.register{
  margin-right: 20%;
}
.btn-twitter-reg {
  float: right;
}
.bg-dark-register{
  background-image: url("asets/Map.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.input-error {
  border: 1px solid red;
}

.error-for-input {
  color: red;
  margin-left: 10px;
}