.bg-dark {
	background-color: #343a40;
	background-image: none;
}

.fa {
	padding: 0;
    width: 40px;
    font-size: 18px;
}

.header-section{
	background-color: #e7e7e7;
	padding: 15px;
	padding-left: 40px;
	font-size: 20px;
	color: #4d4d4d;
}