.form-group-values.tw-set {
  width: 40%;
  float: left;
}

.form-group.tw-set {
  width: 100%;
  float: left;
}

.control-label.tw-set {
  float: left;
  width: 15%;
}

.cube1 {
  float: left;
  width: 100%;
}

