.form-group-values.tw-crit {
  float: right;
  max-width: 50% !important;
  width: 50%;
}

.form-group {
  margin-right: 10%;
}

.control-label.tw-crit {
  max-width: 50%;
  height: 25px;
}

.cube1 {
  float: left;
  width: 33%;
}
.cube2 {
  float: left;
  width: 66%;
}

.subCube1 {
  float: left;
  //width: 33%;
}
.cube {
  height: -webkit-fill-available;
}