
.dot {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: inline-block;
}

.bot-status.active {
  text-align: center;
  float: left;
  display: block;
  font-size: 18px;
}

.dot {
  margin: 5px;
}

.bot-status {
  display: none;
}

.dotRed {
  background-color: #ff3217;
}

.dotGreen {
  background-color: #297004;
}

.yellow {
  color: #da8f16;
}

.btn.dashboard {
  //display: block;
  font-size: 15px;
  color: white !important;

  margin: 5px !important;
}

.btn:hover {
  color: white;
  cursor: pointer
}

//.bot-info .btn {
//  display: none;
//  font-size: 15px;
//  color: white;
//  margin: 5px;
//}
.bot-info {
  //margin: 25px;
  width: 100%;
  height: 50%;
}
.bot-info p{
  width: 100%;
}
.bot-btn {
  position: relative;
  text-align: center;
  width: 100%;
}
.bot-btn-sub{
}

.bot {
  align-content: center;
  border-radius: 25px;
  border: 2px solid #73AD21;
  padding: 20px;
  width: 400px;
  height: 250px;
  margin: 15px;
  max-width: 50%;
  float: left;
}

.wallet {
  border-radius: 25px;
  border: 2px solid #73AD21;
  padding: 20px;
  width: 400px;
  height: 250px;
  margin: 15px;
  max-width: 50%;
  float: left;
}

.wallet .btn {
  align-items: center;

}