.subscription-status {
  text-align: center;
  float: left;
  display: block;
  font-size: 18px;
}

.btn:hover {
  color: white;
  cursor: pointer
}

.subscription-info {
  width: 100%;
  height: 40%;
}

.subscription-info p, .subscription-info span {
  width: 100%;
}

.subscription {
  align-content: center;
  border-radius: 25px;
  border: 2px solid #73AD21;
  padding: 20px;
  width: 250px;
  height: 150px;
  margin: 15px;
  max-width: 50%;
  float: left;
}

.subscription .btn {
  align-items: center;
}

.sb.table-body {
  margin: 15px;
}

.sb.thead-inverse {
  background-color: #4d4d4d;
  color: white;
  font-size: larger;
}

thead:last-child {
  margin-bottom: 15px;
}

.fa_custom {
  color: #027041
}

.disable-enable {
  cursor: pointer;
}

.sb.table th, .sb.table td {
  //width: 20px;
  //white-space: initial;
  //word-wrap: break-word;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sb.table {
  clear: both;
  float: left;
  table-layout: fixed;
  width: 40%;
  //word-wrap: break-word;
  white-space: nowrap;
}

.pagination-block {
  position: relative;
}

.green {
  color: green;
  font-weight: bold;
}

.red {
  color: red;
  font-weight: bold;
}

h4 {
  clear: both;
  float: left;
  margin: 15px;
}

.sb-log-message {
  clear: both;
  float: left;
}