.how-it-works {
  height: 70%;
  width: 80%;
  margin: 20px;
}

.dashboard-image {
  background: url(./asets/dashboard.jpg) no-repeat center center;
  height: 229px;
  width: 372px;
}

.wallet-image {
  background: url(./asets/No-eth.jpg) no-repeat center center;
  height: 546px;
  width: 393px;
}
.metamask-image {
  margin: 5px;
  background: url(./asets/payWithMetamask.jpg) no-repeat center center;
  height: 231px;
  width: 379px;
}
.sett-image {
  margin: 5px;
  background: url(./asets/sett.jpg) no-repeat center center;
  height: 408px;
  width: 1051px;
}
.sett2-image {
  margin: 5px;
  background: url(./asets/sett2.jpg) no-repeat center center;
  height: 257px;
  width: 475px;
}
.sett3-image {
  margin: 5px;
  background: url(./asets/sett3.jpg) no-repeat center center;
  height: 391px;
  width: 550px;
}