
.active p{
  color: #027041;
 font-size: 18px;
}

.container {
  width: 50%;
  margin: 0 auto;
}

ul li.tab {
  display: inline;
  text-align: center;
}

.tab p {
  display: inline-block;
  font-size: 15px;
  width: 12%;
  padding: .75rem 0;
  margin: 0;
  text-decoration: none;
  color: #333;
}

.tab p:hover {
  cursor: pointer;
}

hr.hr {
  height: .25rem;
  width: 12%;
  margin: 0;
  background: #027041;
  border: none;
  transition: .3s ease-in-out;
}
.two.active ~ hr{
  margin-left: 12%;
}

.three.active ~hr{
  margin-left: 24%;
}


.one:hover ~ hr {
  margin-left: 0%;
}
.two:hover ~ hr {
  margin-left: 12%;
}

.three:hover ~ hr {
  margin-left: 24%;
}






.first-col {
  padding-right: 179px;
}

.rect {
  border-radius: 25px;
  width: 70%;
  height: 70px;
  border: 2px dashed gray;
  margin: 15px;
  text-align: center;
  padding: 20px;
  position: relative;
  float: left;
}

//.update-info {
//  background-color: #e7e7e7;
//  height: 40px;
//}

.btn-warning.settings {

  margin-left: 70%;
  height: inherit;
  font-size: 15px;
  color: white;
}
.btn-warning:hover{
  color: white;
}
.settings-tab{
  margin: 15px;
}
.contact-us{
 color: #15905f ;
  text-decoration: underline;
  font-size: 15px;
}
.btn{
  cursor: pointer;
}

