
.active p{
  color: #027041;
 font-size: 18px;
}

.container {
  width: 50%;
  margin: 0 auto;
}

ul li {
  display: inline;
  text-align: center;
}

p {
  display: inline-block;
  font-size: 15px;
  width: 12%;
  padding: .75rem 0;
  margin: 0;
  text-decoration: none;
  color: #333;
}



hr {
  height: .25rem;
  width: 12%;
  margin: 0;
  background: #027041;
  border: none;
  transition: .3s ease-in-out;
}
.two.active ~ hr{
  margin-left: 12%;
}

.three.active ~hr{
  margin-left: 24%;
}


.one:hover ~ hr {
  margin-left: 0%;
}
.two:hover ~ hr {
  margin-left: 12%;
}

.three:hover ~ hr {
  margin-left: 24%;
}






.first-col {
  padding-right: 179px;
}

.rect {
  width: 70%;
  height: 70px;
  border: 5px dashed gray;
  margin: 15px;
  text-align: center;
  padding: 20px;
}

.update-info {
  background-color: gainsboro;
  height: 40px;
}

.btn-warning {
  margin-left: 70%;
  height: inherit;
  font-size: large;
  color: white;
}
.settings-tab{
  height: 350px;
  margin: 15px;
}
.contact-us{
 color: #15905f ;
  text-decoration: underline;
  font-size: 15px;
}

