.control-label.my-detail{
  float: left;
  width: 15%;
}
.form-group-values-my-details{
  width: 40%;
  float: left;
}
.form-group.my-detail{
  width: 100%;
  float: left;

}
.password-recovery{
  text-decoration: underline;
  color: #087047;
  font-size: 15px;
  margin: 15px;
}
.password-recovery:hover{
  color: #087047 !important ;
}
.div-password-recovery{
  width: 100%;
  position: relative;
  float: left;
  margin: 2%;
}
.password-recovery{
  cursor: pointer;
}