.control-label{

}
.form-group-values{
  float: right;
  max-width: 50% !important;
}
.form-group{
  margin-right: 450px;

}
.password-recovery{
  color: #087047;
  font-size: 18px;
  margin: 15px;
}
.password-recovery:hover{
  color: #087047 !important ;
}