.card {
  width: 40%;
  margin: 0 auto;
}

.bg-dark {
  background-image: url("asets/Map.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.input-error {
  border: 1px solid red;
}

.error-for-input {
  color: red;
  margin-left: 10px;
}

.disabled-button {
  background-color: gray;
  user-select: none;
}



.btn-twitter {
  background-color: #32CCFE;
  border-radius: 50%;
  color: #fff;
}

.btn-fb {
  background-color: #3C599F;
  border-radius: 50%;
  color: #fff;
}

.register{
  margin-right: 152px;
}
.withSocial{
  margin-right: 12px;
}